@font-face {
    font-family: "Didact Gothic";
    src: url("../fonts/DidactGothic-Regular.ttf") format("truetype");
}
body {
    font-family: "Didact Gothic", Arial;
    font-size: 1.1em;
}
.wrapper {
    max-width: 32em;
    margin: auto;
}
header {
    padding-top: 40px;
    padding-bottom: 20px;
}
h1 {
    background: #D00;
    color: white;
    padding: 0.5em 2em 0.5em 1em;
    font-size: 1.4em;
    font-weight: bold;
    display: inline-block;
}
img {
    max-width: 80%;
    border: 32px solid white;
    box-shadow: 0 5px 10px lightgray;
    margin: auto;
    display: block;
}
img + em {
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    max-width: 24em;
    font-size: 0.8em;
    color: gray;
}